Ignored

# ============
# Java Project
# ============

*.class
*.jar
*.jardesc
/Java/Doc
/Java/*.jardesc
/Java/engine
/Java/build
/Java/logs
.gradle

.settings
.classpath
.project

# =============
# Maven entries
# =============

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar